
#ser
{
    color: blanchedalmond;
}



#m-image {
    width: 15rem;
    height:20rem;
    display:flex;
     justify-content: center;
    align-items: cente
    
}



.span {
    font-weight: 900;

}

.card {
    margin : 15px;
    border-style:none;
    background-color: midnightblue;
    background-color: #141414;
    color: mistyrose;
    align-items: center;
    font-family: 'Archivo', sans-serif;
   letter-spacing: 0px;
}

#info {
    text-align: left;
}

.card:hover {
    transform: scale(1.1);
}

.jumbotron {
    background-color: #141414;
}

.p {
    color: orangered important !;
}

#nom-btn {
    width: inherit;
}

#r-btn {
   background-color: lightcoral;
}

#n-list {
    position: fixed;
 }

 #nom-msg {
     
    color: yellowgreen;
    
 }

